
body 
{ 
    font-family: Verdana; 
    padding:20px;
    /*background-color: aquamarine;*/
}

h1 
{
    text-align:center;
}

.site { /*  https://www.youtube.com/watch?v=RYImAil3lgo */
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.footer
{
     margin-top:40px; 
     text-align:center; 
     /*background-color: aqua;*/
     margin-bottom: 0;
     float: left;
}

.footer img 
{ 
    max-height:60px; 
    display:block; 
    /*margin:auto;*/
    text-align: left;
}

.header 
{
    display:flex;
    justify-content:space-between; 
    align-items:center; 
}

.header img
{ 
    max-height:80px; 
}
